<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./output.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <style>
      body {
        font-family: "Poppins";
      }
    </style>
  </head>
  <body
    class="px-10 py-5 bg-gradient-to-r to-blue-50 from-violet-50 via-pink-50"
  >
    <% var objToday = new Date(), weekday = new Array('Sunday', 'Monday',
    'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'), dayOfWeek =
    weekday[objToday.getDay()], dayOfMonth = today + ( objToday.getDate() < 10)
    ? '0' + objToday.getDate() + domEnder : objToday.getDate() , months = new
    Array('January', 'February', 'March', 'April', 'May', 'June', 'July',
    'August', 'September', 'October', 'November', 'December'), curMonth =
    months[objToday.getMonth()], curYear = objToday.getFullYear(); var today =
    curMonth + " " + dayOfMonth + ", " + curYear; %> <% var todayLink =
    "/editEntry/"+curMonth + "-" + dayOfMonth + "-" + curYear + "-" + dayOfWeek
    %>
    <div
      class="w-2/6 mx-auto rounded-xl p-3 flex place-items-center font-medium px-12 gap-12 *:py-1 *:rounded-full *:transition-all"
    >
      <button
        onclick="home()"
        class="basis-2/6 flex justify-center items-center gap-3 text-violet-600 hover:bg-white hover:shadow-sm active:bg-violet-200 hover:scale-105"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-5 inline"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"
          />
        </svg>
        <span>Home</span>
      </button>
      <button
        onclick="window.location.href = '<%= todayLink %>'"
        class="basis-2/6 flex justify-center items-center gap-3 text-sky-600 hover:bg-white hover:shadow-sm active:bg-sky-200 hover:scale-105"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-5 inline"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10"
          />
        </svg>
        <span>Journal</span>
      </button>
      <button
        onclick="calendar()"
        class="basis-2/6 flex justify-center items-center gap-3 font-semibold text-blue-700 shadow-lg shadow-blue-500/20 bg-blue-100 hover:scale-105 hover:bg-blue-500 hover:shadow-blue-500/50 hover:text-white active:bg-blue-600"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-5 inline stroke-2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5"
          />
        </svg>
        <span>Calendar</span>
      </button>
    </div>
    <div class="w-fit mx-auto mt-10">
      <p class="font-bold text-6xl text-center mt-5 drop-shadow-lg text-white">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-14 inline stroke-2 stroke-yellow-500"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M21.752 15.002A9.72 9.72 0 0 1 18 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 0 0 3 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 0 0 9.002-5.998Z"
          />
        </svg>
        <span
          class="text-transparent bg-clip-text bg-gradient-to-r from-violet-500 via-purple-400 to-blue-500"
          >Somnium.</span
        >
      </p>
      <div
        class="rounded-xl border-yellow-400 font-semibold tracking-wide text-slate-800 px-5 text-right drop-shadow-lg"
      >
        dream journal
      </div>
    </div>

    <div class="w-3/12 mx-auto mt-16">
      <div class="grid grid-cols-3 items-center place-items-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="size-12 stroke-yellow-500 fill-yellow-500"
        >
          <path
            fill-rule="evenodd"
            d="M11.78 5.22a.75.75 0 0 1 0 1.06L8.06 10l3.72 3.72a.75.75 0 1 1-1.06 1.06l-4.25-4.25a.75.75 0 0 1 0-1.06l4.25-4.25a.75.75 0 0 1 1.06 0Z"
            clip-rule="evenodd"
          />
        </svg>

        <div>
          <p
            class="font-extrabold text-3xl bg-clip-text text-transparent bg-gradient-to-tr from-purple-500 to-pink-500 w-fit mx-auto"
          >
            December
          </p>
          <p class="text-center font-semibold text-slate-500 text-sm">2024</p>
        </div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="size-12 stroke-yellow-500 fill-yellow-500"
        >
          <path
            fill-rule="evenodd"
            d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z"
            clip-rule="evenodd"
          />
        </svg>
      </div>

      <div
        class="grid grid-cols-7 text-center font-bold text-xl place-items-center bg-white px-8 py-5 mt-8 rounded-2xl"
      >
        <p class="text-purple-500 drop-shadow-md mt-3">S</p>
        <p class="text-purple-500 drop-shadow-md mt-3">M</p>
        <p class="text-purple-500 drop-shadow-md mt-3">T</p>
        <p class="text-purple-500 drop-shadow-md mt-3">W</p>
        <p class="text-purple-500 drop-shadow-md mt-3">T</p>
        <p class="text-purple-500 drop-shadow-md mt-3">F</p>
        <p class="text-purple-500 drop-shadow-md mt-3">S</p>

        <button id="1"
          class="text-slate-700 mt-1 px-3 py-0.5 border-8 border-transparent"
        >
          1
        </button>
        <button id="2"
          class="text-slate-700 mt-1 px-3 py-0.5 border-8 border-transparent"
        >
          2
        </button>
        <button id="3"
          class="text-slate-700 mt-1 px-3 py-0.5 border-8 border-transparent"
        >
          3
        </button>
        <button id="4"
          class="text-slate-700 mt-1 px-3 py-0.5 border-8 border-transparent"
        >
          4
        </button>
        <button id="5"
          class="text-slate-700 mt-1 px-3 py-0.5 border-8 border-transparent"
        >
          5
        </button>
        <button id="6"
          class="text-slate-700 mt-1 px-3 py-0.5 border-8 border-transparent"
        >
          6
        </button>
        <button id="7"
          class="text-slate-700 mt-1 px-3 py-0.5 border-8 border-transparent"
        >
          7
        </button>

        <button id="8"
          class="bg-pink-400 w-fit px-3 py-0.5 rounded-full border-8 border-pink-200 text-white mt-1 hover:bg-pink-500 hover:scale-105 transition-all hover:border-pink-300 active:bg-pink-300 active:border-pink-100"
        >
          8
        </button>
        <button id="9"
          class="text-slate-700 mt-1 px-3 py-0.5 border-8 border-transparent"
        >
          9
        </button>
        <button id="10"
          class="text-slate-700 mt-1 px-3 py-0.5 border-8 border-transparent"
        >
          10
        </button>
        <button id="11"
          class="text-slate-700 mt-1 px-3 py-0.5 border-8 border-transparent"
        >
          11
        </button>
        <button id="12"
          class="text-slate-700 mt-1 px-3 py-0.5 border-8 border-transparent"
        >
          12
        </button>
        <button id="13"
          class="text-slate-700 mt-1 px-3 py-0.5 border-8 border-transparent"
        >
          13
        </button>
        <button id="14"
          class="text-slate-700 mt-1 px-3 py-0.5 border-8 border-transparent"
        >
          14
        </button>

        <button id="15"
          class="text-slate-700 mt-1 px-3 py-0.5 border-8 border-transparent"
        >
          15
        </button>
        <button id="16"
          class="text-slate-700 mt-1 px-3 py-0.5 border-8 border-transparent"
        >
          16
        </button>
        <button id="17"
          class="text-slate-700 mt-1 px-3 py-0.5 border-8 border-transparent"
        >
          17
        </button>
        <button id="18"
          class="text-slate-700 mt-1 px-3 py-0.5 border-8 border-transparent"
        >
          18
        </button>
        <button id="19"
          class="text-slate-700 mt-1 px-3 py-0.5 border-8 border-transparent"
        >
          19
        </button>
        <button id="20"
          class="text-slate-700 mt-1 px-3 py-0.5 border-8 border-transparent"
        >
          20
        </button>
        <button id="21"
          class="text-slate-700 mt-1 px-3 py-0.5 border-8 border-transparent"
        >
          21
        </button>

        <button id="22"
          class="text-slate-700 mt-1 px-3 py-0.5 border-8 border-transparent"
        >
          22
        </button>
        <button id="23"
          class="text-slate-700 mt-1 px-3 py-0.5 border-8 border-transparent"
        >
          23
        </button>
        <button id="24"
          class="text-slate-700 mt-1 px-3 py-0.5 border-8 border-transparent"
        >
          24
        </button>
        <button id="25"
          class="text-slate-700 mt-1 px-3 py-0.5 border-8 border-transparent"
        >
          25
        </button>
        <button id="26"
          class="text-slate-700 mt-1 px-3 py-0.5 border-8 border-transparent"
        >
          26
        </button>
        <button id="27"
          class="text-slate-700 mt-1 px-3 py-0.5 border-8 border-transparent"
        >
          27
        </button>
        <button id="28"
          class="text-slate-700 mt-1 px-3 py-0.5 border-8 border-transparent"
        >
          28
        </button>

        <button id="29"
          class="text-slate-700 mt-1 px-3 py-0.5 border-8 border-transparent"
        >
          29
        </button>
        <button id="30"
          class="text-slate-700 mt-1 px-3 py-0.5 border-8 border-transparent"
        >
          30
        </button>
        <button id="31"
          class="text-slate-700 mt-1 px-3 py-0.5 border-8 border-transparent"
        >
          31
        </button>
      </div>
    </div>

    <script>
      function home() {
        window.location.href = "home";
      }
      function journal() {
        window.location.href = "entry";
      }
      function calendar() {
        window.location.href = "calendar";
      }
      
    </script>
  </body>
</html>
